.projects-container {
  @apply mx-auto max-w-screen-xl;
}

.intro-area {
  @apply max-w-2xl mb-20;
}

.intro-area h2 {
  margin-block-start: 0.83rem;
  margin-block-end: 0.83rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  @apply font-bold mt-2 mb-4 text-4xl lg:mb-6;
}

.intro-area p {
  @apply text-[#afc2cb] mt-2 mb-4;
}

.project-details {
  @apply flex flex-wrap w-full gap-10;
}

.project-details > div {
  @apply grow-0 shrink-0 basis-full rounded-md px-4 py-2.5 text-white border-2 border-white/15
  md:px-4 md:basis-[calc(50%_-_20px)];
}

.project-details div h4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  @apply mt-2 mb-4 text-[1.5rem] font-bold;
}

.project-details div p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  @apply text-[#afc2cb] mt-2 mb-4;
}

.learn-more {
  @apply mt-20;
}

.blog-link {
  @apply text-white bg-transparent border-0 px-0 pt-0 capitalize font-bold relative self-start
  inline-flex items-center after:h-0.5 after:bg-primary after:absolute after:w-0 after:bottom-0 after:left-0
  hover:after:w-full after:transition-all after:duration-300;
}
