button.back-btn {
  @apply px-0 pt-0 capitalize font-bold relative self-start ml-3 my-8 inline-flex items-center after:bg-primary
  after:absolute after:h-0.5 after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300;
}

