@reference '../../app/globals.css';

.offerings {
  @apply py-14 px-6 md:px-20 flex content-center;
}

.skills {
  grid-template-areas: 'content';
  @apply font-quicksand grid max-h-[31rem] my-6 max-w-fit
  md:max-w-full;

  > * {
    grid-area: content;
  }
}

.projects {
  @apply py-[6.5rem] px-6;
}

