.skills-container {
  @apply z-[1] font-normal mx-auto flex flex-col items-center bottom-[29rem] w-full justify-start backdrop-blur
  md:justify-center md:items-center
  lg:gap-10 xl:gap-10;

  h2 {
    @apply font-semibold
    md:text-[2.25rem];
  }

  h3 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.35);
    @apply w-full md:text-2xl;
  }
}

.skills-content {
  @apply flex flex-col gap-2
  md:flex-row md:gap-x-20
  lg:gap-x-[5rem]
  2xl:gap-x-52;
}

.skill-list {
  @apply text-center max-w-72
  sm:max-w-xs md:grow md:shrink md:basis-1/2 lg:max-w-sm;

  > h3 {
    @apply text-2xl
    sm:text-3xl;
  }

  > ul {
    @apply md:text-2xl;
  }
}

.skills-span {
  @apply text-primary text-2xl self-center
  lg:text-4xl ;
}

.skills-image {
  @apply w-full h-[571px] top-0 left-0 object-cover object-[50%_50%] overflow-x-hidden overflow-y-hidden align-[100%]
}

