article.post {
  @apply my-0 mx-auto max-w-4xl px-6 pb-0
  md:px-20;
}

.post-title {
  @apply font-medium
  lg:mb-6;
}

.post-content {
  @apply py-10 border-t-2 border-t-primary mx-auto;
}

.post-content img, video {
  @apply mx-auto
}

.post-content a {
  @apply text-[#afc2cb] relative after:bg-secondary after:absolute after:h-0.5 after:w-0 after:bottom-0 after:left-0 hover:after:w-full
  after:transition-all after:duration-300 cursor-pointer;
}

