/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;

/*@layer base {*/
/*@font-face {*/
/*  font-family: 'Quicksand', sans-serif;*/
/*  !*font-optical-sizing: auto;*!*/
/*  font-stretch: auto;*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap') format('woff2');*/
/*}*/
body {
  @apply bg-dark text-base font-light font-sans text-white scroll-smooth;
}

.inner-container {
  @apply grid grid-cols-1 xl:grid-cols-[375px_1fr] lg:grid-cols-[320px_1fr] md:grid-cols-1 sm:grid-cols-1;
}

main {
  @apply col-start-1 sm:col-start-1 md:col-start-1 lg:col-start-2;
}

a, button {
  @apply cursor-pointer;
}

/*}*/

@layer components {
  .main-wrapper {
    contain: none;
    @apply col-start-1 sm:col-start-1 md:col-start-1 lg:col-start-2;
  }

  .banner-image-container {
    @apply overflow-hidden z-[1] h-full w-full top-0 left-0 absolute;
  }

  .banner-image {
    @apply bottom-0 left-0 m-0 h-full overflow-x-hidden overflow-y-hidden max-w-full p-0 absolute right-0 top-0 w-full object-cover;
  }

  .banner-content {
    @apply max-w-[700px] w-full min-h-[32vh] z-[2] relative flex flex-col items-start justify-between sm:justify-evenly sm:h-full md:justify-end;
  }

  .banner-content svg {
    @apply inline align-[-0.1rem];
  }

  .banner-content > h1 {
    @apply font-medium;
  }

  .banner-content > p {
    @apply my-2 text-base font-normal sm:text-2xl;
  }

  .banner-content > h1 > span {
    @apply text-primary;
  }

  .banner-image-container {
    @apply overflow-hidden z-[1] h-full w-full top-0 left-0 absolute;
  }

  .banner-image {
    @apply bottom-0 left-0 m-0 h-full overflow-x-hidden overflow-y-hidden max-w-full p-0 absolute right-0 top-0 w-full object-cover;
  }

  .banner-container {
    @apply mx-auto h-full;
  }

  .banner-content {
    @apply max-w-[700px] w-full min-h-[32vh] z-[2] relative flex flex-col items-start justify-between sm:justify-evenly sm:h-full md:justify-end;
  }

  .banner-content svg {
    @apply inline align-[-0.1rem];
  }

  .banner-content > h1 {
    @apply font-medium;
  }

  .banner-content > p {
    @apply my-2 text-base font-normal sm:text-2xl;
  }

  .banner-content > h1 > span {
    @apply text-primary;
  }

  /*.banner-content button {*/
  /*@apply underline decoration-primary;*/
  /*}*/
  h1, h2 {
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    margin-inline-start: 0;
    margin-inline-end: 0;
    @apply mt-2 mb-6 leading-5 tracking-normal w-fit lg:mb-6;
  }

  h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    @apply text-5xl inline-block mt-0;
  }

  h1 > span {
    @apply text-primary;
  }

  h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    @apply mb-4 text-[1.5rem];
  }

  .banner-btn-container {
    @apply flex gap-10 mt-10 text-xl;
  }

  .banner-button {
    @apply items-center inline-flex self-start relative font-bold capitalize pt-0 py-0 pb-3.5 tracking-wider
    after:h-0.5 after:pt-0 after:bg-primary after:absolute after:w-0 after:bottom-0 after:left-0
    hover:after:w-full after:transition-all after:duration-300
  }

  .gradient {
    background: radial-gradient(at left bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    @apply z-[1] h-full w-full top-0 left-0 absolute;
  }

  .about-container {
    @apply w-full text-[1.25rem] mx-auto flex content-center md:max-w-2xl;
  }

  .about-container > div {
    @apply md:text-justify;
  }

  .about-container a {
    @apply no-underline relative text-[#afc2cb] after:bg-secondary after:absolute after:h-0.5 after:w-0 after:bottom-0 after:left-0
    hover:after:w-full after:transition-all after:duration-300 cursor-pointer;
  }

  .about-container ul {
    @apply list-disc px-6;
  }

  .about-container li:not(:first-child) {
    @apply mt-5;
  }

  .skills {
    grid-template-areas: 'content';
    @apply grid max-h-[31rem] my-6 max-w-fit md:max-w-full;
  }

  .skills > * {
    grid-area: content;
  }

  .intro-area {
    @apply max-w-2xl mb-20;
  }

  .intro-area h2 {
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    @apply font-bold mt-2 mb-4 text-4xl lg:mb-6;
  }

  .intro-area p {
    @apply text-[#afc2cb] mt-2 mb-4;
  }

  .blog-details {
    @apply flex flex-wrap w-full gap-10;
  }

  .blog-details > div {
    @apply grow-0 shrink-0 basis-full rounded-md px-4 py-2.5 text-white border-2 border-white/15
    md:px-4 md:basis-[calc(50%_-_20px)];
  }

  .blog-details div h4 {
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    @apply mt-2 mb-4 text-[1.5rem] font-bold;
  }

  .blog-details div p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    @apply text-[#afc2cb] mt-2 mb-4;
  }

  .blog-card-content {
    @apply flex flex-col justify-between;
  }

  .blog-item {
    @apply flex flex-col items-start gap-5 mt-auto;
  }

  .blog-styles {
    @apply after:h-0.5 relative after:bg-primary after:absolute after:w-0 after:bottom-0 after:left-0
    hover:after:w-full after:transition-all after:duration-300;
  }

  .blog-item p {
    @apply text-[rgba(119_119_119)] mt-2 mb-0 font-bold;
  }

  /* universal */
  .learn-more {
    @apply mt-20;
  }

  /* universal */
  .blog-link {
    @apply text-white bg-transparent border-0 px-0 pt-0 capitalize font-bold relative self-start
    inline-flex items-center after:h-0.5 after:bg-primary after:absolute after:w-0 after:bottom-0 after:left-0
    hover:after:w-full after:transition-all after:duration-300;
  }

  article.blog-post {
    @apply my-0 mx-auto max-w-5xl pt-44 px-6 md:px-20 pb-0;
  }

  .blog-post-title {
    @apply lg:mb-6 font-medium;
  }

  .blog-post-date {
    @apply text-[#afc2cb] mt-2 mb-4;
  }

  .blog-post-content {
    @apply py-10 border-t-2 border-t-primary;
  }

  .blog-post-content img, video {
    @apply mx-auto
  }

  .blog-post-content a {
    @apply text-[#afc2cb] relative after:bg-secondary after:absolute after:h-0.5 after:w-0 after:bottom-0 after:left-0 hover:after:w-full
    after:transition-all after:duration-300 cursor-pointer;
  }

  /* universal */
  button.back-to-blog {
    @apply text-white relative mb-8 after:bg-primary after:absolute after:h-0.5 after:w-0 after:bottom-0 after:left-0 hover:after:w-full
    after:transition-all after:duration-300 cursor-pointer;
  }

  .pagination-wrapper {
    @apply flex my-12 mx-auto py-0 px-16 justify-between;
  }
}

@layer utilities {
  /* universal */
  .strong-emphasis {
    @apply font-semibold;
  }
}
