/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;

/*@font-face {*/
/*  font-family: 'Quicksand', sans-serif;*/
/*  !*font-optical-sizing: auto;*!*/
/*  font-stretch: auto;*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap') format('woff2');*/
body {
  @apply bg-dark text-base font-light font-sans text-white scroll-smooth;
}

main {
  @apply col-start-1 sm:col-start-1 md:col-start-1 lg:col-start-2;
}

a, button {
  @apply cursor-pointer;
}

h1, h2 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  margin-inline-start: 0;
  margin-inline-end: 0;
  @apply mt-2 mb-6 leading-5 tracking-normal w-fit lg:mb-6;
}

h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  @apply text-5xl inline-block mt-0;
}

h1 > span {
  @apply text-primary;
}

h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  @apply mb-4 text-[1.5rem];
}

.banner {
  @apply relative p-7 h-auto sm:h-screen;
}

.inner-container {
  @apply grid grid-cols-1 xl:grid-cols-[375px_1fr] lg:grid-cols-[320px_1fr] md:grid-cols-1 sm:grid-cols-1;
}

.main-wrapper {
  contain: none;
  @apply col-start-1 sm:col-start-1 md:col-start-1 lg:col-start-2;
}

/* universal */
.strong-emphasis {
  @apply font-semibold;
}
