@reference '../../app/globals.css';

.modal-overlay {
  @apply fixed top-0 left-0 right-0 bottom-0 z-50 w-screen h-screen flex justify-center items-center overflow-y-auto
  bg-black/65 backdrop-blur-sm;
}

.contact {
  @apply bg-dark rounded-lg shadow-xl w-11/12 h-[90vh] relative flex flex-col
  sm:my-auto sm:h-[95vh]
  lg:w-3/5;
}

.close-button-container {
  @apply flex justify-end items-center w-full px-4 pt-4 pb-2;

  .contact-close-btn {
    @apply rounded-full bg-dark/90 transition-all duration-200 flex items-center justify-center h-12 w-12
    hover:bg-gray-500/40 hover:border-white hover:scale-110;
  }
}
