footer {
  @apply bottom-0 text-sm text-white relative z-40 w-full p-4 bg-dark
  sm:w-full sm:p-4 md:w-full
  md:p-4
  lg:fixed lg:w-[320px]
  xl:w-[375px];
}

.footer-link {
  @apply relative after:bg-primary after:absolute after:h-0.5 after:w-0 after:bottom-0 after:left-0 hover:after:w-full
  after:transition-all after:duration-300 cursor-pointer;
}
