@reference '../../app/globals.css';

.blog-posts {
  @apply font-quicksand px-6 my-14 mx-auto;
}

.blog-details {
  @apply flex flex-wrap w-full gap-10;

  > div {
    @apply grow-0 shrink-0 basis-full rounded-md px-4 py-2.5 text-white border-2 border-white/15
    md:px-4 md:basis-[calc(50%_-_20px)];
  }

  div h4 {
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    @apply mt-2 mb-4 text-[1.5rem] font-bold;
  }

  div p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    @apply text-[#afc2cb] my-1;
  }
}

.pagination-wrapper {
  @apply flex my-12 mx-auto py-0 px-16 justify-end;
}
