.offerings-container {
  @apply w-full text-[1.25rem] mx-auto flex content-center md:max-w-3xl;
}

.offerings-container h2 {
  @apply text-3xl;
}

.offerings-container a {
  @apply no-underline relative text-[#afc2cb] after:bg-secondary after:absolute after:h-0.5 after:w-0 after:bottom-0 after:left-0
  hover:after:w-full after:transition-all after:duration-300 cursor-pointer;
}

.offerings-container ul {
  @apply list-disc px-6;
}

.offerings-container li:not(:first-child) {
  @apply mt-5;
}

